includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 0
  paths:
    - src
  bootstrapFiles:
    - /administrator/cache/autoload_psr4.php
  ignoreErrors:
  reportUnmatchedIgnoredErrors: false
